[w1sensors]
{% if temperature_sensor.w1sensors is defined %}
{% for id, suffix in temperature_sensor.w1sensors.iteritems() %}
{{ id }}={{ suffix }}
{% endfor %}
{% endif %}

[bme680sensors]
{% if temperature_sensor.bme680sensors is defined %}
{% for id, suffix in temperature_sensor.bme680sensors.iteritems() %}
{{ id }}={{ suffix }}
{% endfor %}
{% endif %}

[mqtt]
broker={{ temperature_sensor.mqtt.broker }}
topic_format=sensor/{attribute}/{id}

[general]
delay={{ temperature_sensor.delay }}
{% if hostname is defined %}
hostname={{ hostname }}
{% endif %}
