[w1sensors]
{% if w1sensors is defined %}
{% for id, suffix in w1sensors.iteritems() %}
{{ id }}={{ suffix }}
{% endfor %}
{% endif %}

[bme680sensors]
{% if bme680sensors is defined %}
{% for id, suffix in bme680sensors.iteritems() %}
{{ id }}={{ suffix }}
{% endfor %}
{% endif %}

[mqtt]
broker={{ mqtt_broker }}
topic_format=sensor/{attribute}/{id}

[general]
delay={{ delay }}
{% if hostname is defined %}
hostname={{ hostname }}
{% endif %}
